@import url('https://fonts.googleleapis.com/css2?family=Sora&display=swap');

body {
  font-family: 'Sora', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, rgba(252,8,0,255), rgba(255,251,119,255));
}

.home {
  
}